<!-- <button (click)="verCreditoNuevoEstructura()">VER DATOS DE CREDITO NUEVO</button> -->
<app-modal-cliente></app-modal-cliente>
<app-form-cliente (pasameDatosDelCliente)="showCliente($event)"></app-form-cliente>
<h4>Nuevo Crédito</h4>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <!-- FORMULARIO INICIO -->
            <form class="" [formGroup]="creditoForm" (ngSubmit)="onFormSubmit()">
                <fieldset>
                    <ngb-tabset #t="ngbTabset" [justify]="currentJustify">

                        <!--TABSET PARA EL PASO 1 -->
                        <ngb-tab id="tab-selectbyid1" title="1- Datos del Titular">
                            <ng-template ngbTabContent>
                                <div class="form-row">
                                    <!-- Campo 1:  Dni-->
                                    <div class="form-group col-md-6">
                                        <label for="inputDni">* Número de Documento</label>
                                        <input type="number" formControlName="dni" class="form-control form-control-sm" id="inputDni" placeholder="30300300">
                                    </div>

                                    <div class="col-md-6">
                                        <span class="btn btn-outline-primary" (click)="buscarClientePorDni()">Buscar</span>
                                    </div>

                                    <!-- Dni error block -->
                                    <div *ngIf="dni.invalid && dni.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="dni.errors?.required">
                                            El número de documento es requerido
                                        </div>
                                    </div>
                                </div>


                                <!-- Campo 2:  Apellido-->
                                <div class="form-group">
                                    <label for="inputApellidos">* Apellido/s</label>
                                    <input type="text" formControlName="apellidos" class="form-control form-control-sm" id="inputApellidos" placeholder="Perez">
                                </div>

                                <!-- Campo 3:  Nombres-->
                                <div class="form-group">
                                    <label for="inputNombres">* Nombres</label>
                                    <input type="text" formControlName="nombres" class="form-control form-control-sm" id="inputNombres" placeholder="Juan">
                                </div>

                                <!-- Campo 4:  Fecha de Nacimiento-->
                                <div class="form-group">
                                    <label for="inputFechaNacimiento">* Fecha de Nacimiento</label>
                                    <input type="date" formControlName="fechaNacimiento" class="form-control form-control-sm" id="inputFechaNacimiento">
                                </div>
                                <!-- FechaNacimiento error block -->
                                <div *ngIf="fechaNacimiento.invalid && fechaNacimiento.touched" class="col-sm-6 text-danger">
                                    <div *ngIf="fechaNacimiento.errors['required']">
                                        Ingrese una Fecha Válida
                                    </div>
                                </div>

                                <div class="form-row text-right">
                                    <div class="col-12">
                                        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">Siguiente</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>


                        <!--TABSET PARA EL PASO 2 -->
                        <ngb-tab id="tab-selectbyid2" title="2- Datos del Credito">
                            <ng-template ngbTabContent>

                                <div class="form-row">
                                    <!-- Campo 1:  Monto Solicitado-->
                                    <div class="form-group col-md-6">
                                        <label for="inputMontoSolicitado">* Monto Solicitado</label>
                                        <input type="number" formControlName="montoSolicitado" class="form-control form-control-sm" id="inputMontoSolicitado" placeholder="10000">
                                    </div>
                                    <!-- Campo 2: Tipo de Plan -->
                                    <div class="form-group col-md-6">
                                        <label for="inputTipoDePlan">* Tipo de Plan</label>
                                        <select formControlName="tipoDePlan" (change)="onChangeTipoPlanes()" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputTipoDePlan">
                                      <!-- <option *ngFor="let eTipoDePlan of tiposPlanes" [value]="eTipoDePlan._id"> -->
                                          <option *ngFor="let eTipoDePlan of tiposPlanes">
                                            {{eTipoDePlan.nombre}}
                                          </option>
                                    </select>
                                    </div>
                                    <!-- montoSolicitado error block -->
                                    <div *ngIf="montoSolicitado.invalid && montoSolicitado.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="montoSolicitado.errors?.required">
                                            El monto solicitado es requerido
                                        </div>
                                    </div>
                                </div>
                                <!-- Campo 3: Plan-->
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-4">
                                        <label for="inputPlan">* Plan</label>
                                        <select formControlName="plan" (change)="onChangePlanes()" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputPlan">
                                      <option *ngFor="let fPlan of planes">
                                          {{fPlan.cantidadCuotas}}
                                      </option>
                                    </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input formControlName="cobroDomicilio" type="checkbox" id="cobranzaDomicilio" value="cobroDomicilio"> <label for="cobranzaDomicilio">Cobranza en domicilio</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <span class="btn btn-outline-primary" (click)="calcularPlanDePago()">Ver Plan de Pago</span>
                                    </div>
                                </div>

                                <div class="form-row text-center">
                                    <ng2-smart-table [settings]="settings" class="table table-hover" [source]="characters"></ng2-smart-table>
                                </div>

                                <div class="form-row text-right">
                                    <div class="col-12">
                                        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid1')">Atrás</button>
                                        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid3')">Siguiente</button>
                                    </div>
                                </div>


                            </ng-template>
                        </ngb-tab>



                        <!--TABSET PARA EL PASO 3 -->
                        <ngb-tab id="tab-selectbyid3" title="3- Comercio y Garante">
                            <ng-template ngbTabContent>
                                <h4>Datos del Garante</h4>
                                <div class="form-row">
                                    <!-- Campo 1:  Dni Garante-->
                                    <div class="form-group col-md-6">
                                        <label for="inputDniGarante">* Número de Documento</label>
                                        <input type="number" formControlName="dniGarante" class="form-control form-control-sm" id="inputDniGarante" placeholder="30300300">
                                    </div>

                                    <div class="col-md-6">
                                        <span class="btn btn-outline-primary" (click)="buscarGarantePorDni()">Buscar</span>
                                    </div>

                                    <!-- Dni error block -->
                                    <div *ngIf="dniGarante.invalid && dniGarante.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="dniGarante.errors?.required">
                                            El número de documento es requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <!-- Campo 2:  Apellido-->
                                    <div class="form-group col-md-4">
                                        <label for="inputApellidosGarante">* Apellido/s</label>
                                        <input type="text" formControlName="apellidosGarante" class="form-control form-control-sm" id="inputApellidosGarante" placeholder="Perez">
                                    </div>

                                    <!-- Campo 3:  Nombres-->
                                    <div class="form-group col-md-4">
                                        <label for="inputNombresGarante">* Nombres</label>
                                        <input type="text" formControlName="nombresGarante" class="form-control form-control-sm" id="inputNombresGarante" placeholder="Juan">
                                    </div>

                                    <!-- Campo 4:  Fecha de Nacimiento-->
                                    <div class="form-group col-md-4">
                                        <label for="inputFechaNacimientoGarante">* Fecha de Nacimiento</label>
                                        <input type="date" formControlName="fechaNacimientoGarante" class="form-control form-control-sm" id="inputFechaNacimientoGarante">
                                    </div>
                                    <!-- FechaNacimiento error block -->
                                    <div *ngIf="fechaNacimientoGarante.invalid && fechaNacimientoGarante.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="fechaNacimientoGarante.errors?.required">
                                            Ingrese una Fecha Válida
                                        </div>
                                    </div>
                                </div>


                                <h4>Datos del Comercio</h4>

                                <div class="form-row">
                                    <!-- Campo 5:  Cuit-->
                                    <div class="form-group col-md-6">
                                        <label for="inputCuit">* Cuit</label>
                                        <input type="number" formControlName="cuit" class="form-control form-control-sm" id="inputCuit" placeholder="20303003000">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="btn btn-outline-primary" (click)="buscarComercioPorCuit()">Buscar</span>
                                    </div>
                                </div>

                                <!-- Cuit error block -->
                                <div *ngIf="cuit.invalid && cuit.touched" class="col-sm-6 text-danger">
                                    <div *ngIf="cuit.errors['required']">
                                        El número de documento es requerido
                                    </div>
                                </div>

                                <!-- Campo 6:  Razon Social-->
                                <div class="form-group">
                                    <label for="inputRazonSocial">* Razon Social</label>
                                    <input type="text" formControlName="razonSocial" class="form-control form-control-sm" id="inputRazonSocial" placeholder="Juan Perez">
                                </div>

                                <div class="form-row text-right">
                                    <div class="col-12">
                                        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">Atrás</button>
                                        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid4')">Siguiente</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <!--TABSET PARA EL PASO 4 -->
                        <ngb-tab id="tab-selectbyid4" title="4- Referencias y Documentación">
                            <ng-template ngbTabContent>
                                <h4>Documentación Presentada</h4>


                                <!-- Campo 1: Documentacion presentada -->
                                <div class="form-group">
                                    <div class="form-check" *ngFor="let tag of documentosAPresentar; let i = index;">
                                        <label class="form-check-label" for="tag{{tag.nombre}}">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="tag{{tag.value}}"
                                            name="tagOptions"
                                            (change)="changeCheckboxDocumentacion(i)"
                                            [checked]="tag.requerido"
                                            >
                                            {{tag.nombre}}

                                        </label>
                                    </div>
                                </div>





                                <!-- Campo 2:  Numero de Legajo-->
                                <div class="form-group">
                                    <label for="numeroLegajo">* Nro. Legajo</label>
                                    <input type="text" formControlName="numeroLegajo" class="form-control form-control-sm" id="inputnumeroLegajo" placeholder="111">
                                </div>


                                <h4>Referencias del Titular</h4>
                                <!-- Campo 3: Combo Referencia Titular -->
                                <div class="form-group">
                                    <label for="inputReferenciaTitular">* Referencia del Titular</label>
                                    <select formControlName="tipoReferenciaTitular" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputReferenciaTitular">
                                    <option *ngFor="let eReferencia of tiposReferencias" [value]="eReferencia._id">
                                        {{eReferencia.nombre}}
                                      </option>
                                    </select>
                                </div>

                                <!-- Campo 4: Checkbox Referencias TItular -->
                                <div class="form-group">
                                    <div class="form-check" *ngFor="let tag of referenciaTitulares; let i = index;">
                                        <label class="form-check-label" for="tag{{tag.item}}">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="tag{{tag._id}}"
                                            name="tagOptionsReferenciaTitular"
                                            (change)="changeCheckboxReferenciaTitular(i)"
                                            >
                                            {{tag.item}}

                                        </label>
                                    </div>
                                </div>






                                <!-- Campo 5: TextArea Comentario Referencias Titular-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaComentarioTitular"></textarea>
                                        </div>
                                    </div>
                                </div>



                                <h4>Referencias del Comercio</h4>
                                <!-- Campo 6: Combo Referencia Comercio -->
                                <div class="form-group">
                                    <label for="inputTipoReferenciaComercio">* Referencia del Comercio</label>
                                    <select formControlName="tipoReferenciaComercio" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputTipoReferenciaComercio">
                                        <option *ngFor="let eReferencia of tiposReferencias" [value]="eReferencia._id">
                                                {{eReferencia.nombre}}
                                        </option>
                                    </select>
                                </div>

                                <!-- Campo 7: Checkbox Referencias Comercio -->
                                <!--   <div class="form-group">
                                    <label formArrayName="itemsReferenciasGarante" *ngFor="let order of creditoForm.controls.documentaciones.controls; let i = index">
                                    <input type="checkbox" [formControlName]="i">
                                    {{documentaciones[i].name}}
                                    </label>
                                </div> -->

                                <div class="form-group">
                                    <div class="form-check" *ngFor="let tag of referenciaComercios; let i = index;">
                                        <label class="form-check-label" for="tag{{tag.item}}">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="tag{{tag._id}}"
                                            name="tagOptionsReferenciaComercios"
                                            (change)="changeCheckboxReferenciaComercio(i)"
                                            >
                                            {{tag.item}}

                                        </label>
                                    </div>
                                </div>



                                <!-- Campo 8: Comentario Referencias Comercio-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaComentarioComercio"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--- Buttons Block Solo envia si el form esta validado-->
                                <div class="form-row text-right">
                                    <div class="col-12">
                                        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid3')">Atrás</button>
                                        <!-- <button type="reset" class="btn btn-outline-primary">Cancelar</button> -->
                                        <button type="button" href="#btnCancelarModal" class="btn btn-outline-primary" data-toggle="modal">Cancelar</button>
                                        <button type="submit" [disabled]="!creditoForm.valid" class="btn btn-outline-primary">Guardar</button>

                                        <!-- Boton oculto que permite abrir el modal de guardado OK -->
                                        <div id="oculto" style="display:none;">
                                            <button type="button" href="#eventoGuardadoCorrecto" id="guardarOk" data-toggle="modal"></button>
                                        </div>

                                    </div>
                                </div>



                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>
                </fieldset>
            </form>

        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>


<span class="btn btn-outline-primary" (click)="getReferenciaCliente()"> Ver Referencias</span>


<!-- <button (click)="ngxSmartModalService.getModal('myModal').open()">Open myModal</button>
<button (click)="ngxSmartModalService.getModal('clienteModal').open()">Open myModal</button> -->