<div class="form-row text-center">
    <div class="col-12">
        <p class="bg-secondary-gradient">USUARIOS DEL SISTEMA</p>
    </div>
</div>


<div class="container">
    <div class="form-row text-left">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ng2-smart-table [settings]="settings" class="table table-hover thead-dark" [source]="characters" (custom)="onCustom($event)" #usuarioForm></ng2-smart-table>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <div class="container form-row text-center col-md-12 bg-gray-light">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <button class="btn btn btn-secondary" (click)="imprimirUsuarios()">Imprimir Listado</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" (click)="nuevoUsuario()">Nuevo Usuario</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>