<div *ngIf="isLogged">

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Sur Créditos</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="assets/dist/img/usergenerico.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <span class="h6" style="color:whitesmoke">{{usuario}}</span>
                    <span class="h6" style="color:grey">-{{rol}}</span>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <ng-container [ngSwitch]="true">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <!--MENU CREDITOS -->
                        <ng-container *ngSwitchCase="rol === 'VENDEDOR' || rol=== 'ADMINISTRADOR'">
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link"><i class="nav-icon fa fa-edit"></i><p>Creditos<i class="fa fa-angle-left right"></i></p></a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item"><a class="nav-link" routerLink="crudcreditos"><i class="fa fa-angle-right nav-icon"></i><p>Ver</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="formcredito"><i class="fa fa-angle-right nav-icon"></i><p>Nuevo</p></a></li>

                                </ul>
                            </li>
                        </ng-container>
                        <!--FIN MENU CREDITOS -->

                        <!--MENU CLIENTES -->
                        <ng-container *ngSwitchCase="rol === 'ADMINISTRADOR' || rol === 'VENDEDOR'">
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link"><i class="nav-icon fa fa-users"></i><p>Clientes<i class="fa fa-angle-left right"></i></p></a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item"><a class="nav-link" routerLink="crudclientes"><i class="fa fa-angle-right nav-icon"></i><p>Consultar</p></a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" routerLink="formcliente"><i class="fa fa-angle-right nav-icon"></i><p>Nuevo</p></a></li> -->
                                </ul>
                            </li>
                        </ng-container>
                        <!--FIN MENU CLIENTES -->

                        <!--MENU CAJA -->
                        <ng-container *ngSwitchCase="rol === 'CAJERO' || rol === 'ADMINISTRADOR'">
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link"><i class="nav-icon fa fa-money"></i><p>Caja<i class="fa fa-angle-left right"></i></p></a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item"><a class="nav-link" routerLink="ordendepago"><i class="fa fa-angle-right nav-icon"></i><p>Orden de Pago</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="crudclientes"><i class="fa fa-angle-right nav-icon"></i><p>Cobrar Cuota</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="cuotas"><i class="fa fa-angle-right nav-icon"></i><p>Obtener Cuotas</p></a></li>
                                    <!--                                 <li class="nav-item"><a class="nav-link" routerLink="crudclientes"><i class="fa fa-angle-right nav-icon"></i><p>Rendir Cobro</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="crudclientes"><i class="fa fa-angle-right nav-icon"></i><p>Registrar Salida</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="crudclientes"><i class="fa fa-angle-right-icon"></i><p>Cierre</p></a></li> -->
                                </ul>
                            </li>
                        </ng-container>
                        <!--FIN MENU CLIENTES -->


                        <!--MENU ADMINISTRACION -->
                        <ng-container *ngSwitchCase="rol === 'ADMINISTRADOR'">
                            <li class="nav-item has-treeview"><a href="#" class="nav-link"><i class="nav-icon fa fa-cog"></i><p>Administración<i class="fa fa-angle-left right"></i></p></a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item"><a class="nav-link" routerLink="crudusuarios"><i class="fa fa-angle-right nav-icon"></i><p>Usuarios</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="crudcreditosadmintodos"><i class="fa fa-angle-right nav-icon"></i><p>Ver Todos Creditos</p></a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="crudcreditosadmin"><i class="fa fa-angle-right nav-icon"></i><p>Estados de Creditos</p></a></li>
                                </ul>
                            </li>
                        </ng-container>
                        <!--FIN MENU ADMINISTRACION -->

                        <li class="nav-item">
                            <a class="nav-link" (click)="logout()"><i class="nav-icon fa fa-th"></i><p>Logout</p></a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </ng-container>


        </div>
        <!-- /.sidebar -->
    </aside>

</div>