<div class="form-row text-center">
  <div class="col-12">
    <p class="bg-primary">Reporte de Creditos</p>
    <!-- <button type="button" class="btn btn-outline-info" (click)="nuevoCredito()">Nuevo</button> -->
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form class="" [formGroup]="fechasForm">
        <div class="form-row">
          <!-- Campo 1:  Dni Garante-->
          <div class="form-group col-md-6">
            <label for="inputFechaInicio">Fecha Inicio</label>
            <input type="date" formControlName="fechaInicio" class="form-control form-control-sm" id="inputFechaInicio"
              placeholder="dd/MM/AAAA">
          </div>
          <div class="form-group col-md-6">
            <label for="inputFechaFin">Fecha Fin</label>
            <input type="date" formControlName="fechaFin" class="form-control form-control-sm" id="inputFechaFin"
              placeholder="dd/MM/AAAA">
          </div>

          <div class="col-md-6">
            <span class="btn btn-outline-primary" (click)="getData()">Buscar</span>
          </div>

          <div class="line-separator"></div>
          <div class="col-md-12">
            <ng2-smart-table [settings]="settings" class="table table-hover" [source]="creditosViewModel" (custom)="onCustom($event)"
              #fechasTableForm></ng2-smart-table>
          </div>
        </div>
      </form>


    </div>
  </div>

  <div class="form-row text-center">
    <div class="col-12">
      <p class="bg-primary">Reporte de Clientes</p>
      <!-- <button type="button" class="btn btn-outline-info" (click)="nuevoCredito()">Nuevo</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="col-md-6">
        <span class="btn btn-outline-primary" (click)="showReporteCliente()">Visualizar Clientes Activos</span>
      </div>
    </div>
  </div>
</div>
