<!-- <button (click)="verCreditoNuevoEstructura()">VER DATOS DE CREDITO NUEVO</button> -->
<app-modal-cliente></app-modal-cliente>

<app-modal-comercio (pasameDatosDelComercio)="showComercio($event)"></app-modal-comercio>
<app-form-cliente (pasameDatosDelCliente)="showCliente($event)"></app-form-cliente>

<div class="form-row text-center">
    <div class="col-12">
        <p class="bg-secondary-gradient">VER CRÉDITO</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <!-- FORMULARIO INICIO -->
            <form class="" [formGroup]="creditoForm" (ngSubmit)="onFormSubmit()">
                <fieldset>
                    <ngb-tabset #t="ngbTabset" [justify]="currentJustify">

                        <!--TABSET PARA EL PASO 1 -->
                        <ngb-tab id="tab-selectbyid1" title="1- Datos del Titular ">
                            <ng-template ngbTabContent>
                                <div class="form-row">
                                    <!-- Campo 1:  Dni-->
                                    <div class="form-group col-md-6">
                                        <label for="inputDni">* Número de Documento</label>
                                        <input type="number" formControlName="dni" class="form-control form-control-sm" id="inputDni" placeholder="30300300">
                                    </div>

                                    <div class="col-md-6">
                                        <span class="btn btn-outline-primary">Buscar</span>
                                    </div>

                                    <!-- Dni error block -->
                                    <div *ngIf="dni.invalid && dni.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="dni.errors['required']">
                                            El número de documento es requerido
                                        </div>
                                    </div>
                                </div>


                                <!-- Campo 2:  Apellido-->
                                <div class="form-group">
                                    <label for="inputApellidos">* Apellido/s</label>
                                    <input type="text" formControlName="apellidos" class="form-control form-control-sm" id="inputApellidos" placeholder="Perez">
                                </div>

                                <!-- Campo 3:  Nombres-->
                                <div class="form-group">
                                    <label for="inputNombres">* Nombres</label>
                                    <input type="text" formControlName="nombres" class="form-control form-control-sm" id="inputNombres" placeholder="Juan">
                                </div>

                                <!-- Campo 4:  Fecha de Nacimiento-->
                                <div class="form-group">
                                    <label for="inputFechaNacimiento">* Fecha de Nacimiento</label>
                                    <input type="date" formControlName="fechaNacimiento" class="form-control form-control-sm" id="inputFechaNacimiento">
                                </div>
                                <!-- FechaNacimiento error block -->
                                <div *ngIf="fechaNacimiento.invalid && fechaNacimiento.touched" class="col-sm-6 text-danger">
                                    <div *ngIf="fechaNacimiento.errors['required']">
                                        Ingrese una Fecha Válida
                                    </div>
                                </div>

                                <div class="form-row text-right bg-gray-light">
                                    <div class="col-12">
                                        <span class="btn btn btn-secondary" (click)="t.select('tab-selectbyid2')">Siguiente</span>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>


                        <!--TABSET PARA EL PASO 2 -->
                        <ngb-tab id="tab-selectbyid2" title="2- Datos del Credito">
                            <ng-template ngbTabContent>

                                <div class="form-row">
                                    <!-- Campo 1:  Monto Solicitado-->
                                    <div class="form-group col-md-6">
                                        <label for="inputMontoSolicitado">* Monto Solicitado</label>
                                        <input type="number" formControlName="montoSolicitado" class="form-control form-control-sm" id="inputMontoSolicitado" placeholder="10000">
                                    </div>



                                    <!-- Campo 2: Tipo de Plan -->
                                    <div class="form-group col-md-6">

                                        <div class="form-group col-md-6">
                                            <label for="inputTipoDePlan">* Tipo de Plan</label>
                                            <input type="text" formControlName="tipoDePlan" class="form-control form-control-sm" id="inputTipoDePlan">
                                        </div>


                                        <!--    <label for="inputTipoDePlan">* Tipo de Plan</label>
                                         <select formControlName="tipoDePlan" class="custom-control custom-select custom-control-inline form-control-sm w-100 ng-hide" id="inputTipoDePlan">
                                              <option *ngFor="let eTipoDePlan of tiposPlanes">
                                                {{eTipoDePlan.nombre}}
                                              </option>
                                        </select> -->

                                    </div>


                                    <!-- montoSolicitado error block -->
                                    <div *ngIf="montoSolicitado.invalid && montoSolicitado.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="montoSolicitado.errors['required']">
                                            El monto solicitado es requerido
                                        </div>
                                    </div>
                                </div>
                                <!-- Campo 3: Plan-->
                                <div class="form-row align-items-cente ng-hide">

                                    <div class="form-group col-md-4">
                                        <label for="inputPlan">* Plan</label>
                                        <input type="text" formControlName="plan" class="form-control form-control-sm" id="inputPlan">
                                    </div>

                                    <!-- <div class="form-group col-md-4">
                                        <label for="inputPlan">* Plan</label>
                                        <select formControlName="plan" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputPlan">
                                      <option *ngFor="let fPlan of planes">
                                          {{fPlan.cantidadCuotas}}
                                      </option>
                                    </select>
                                    </div> -->



                                    <div class="form-group col-md-4">
                                        <input formControlName="cobroDomicilio" type="checkbox" id="cobranzaDomicilio" value="cobroDomicilio"> <label for="cobranzaDomicilio">Cobranza en domicilio</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <span class="btn btn-outline-primary ng-hide">Ver Plan de Pago</span>
                                    </div>
                                </div>

                                <div class="form-row text-center">
                                    <ng2-smart-table [settings]="settings" class="table table-hover" [source]="characters"></ng2-smart-table>
                                </div>






                                <div class="form-row text-right bg-gray-light">
                                    <div class="col-12">
                                        <span class="btn btn-secondary" (click)="t.select('tab-selectbyid1')">&nbsp;&nbsp;Atrás &nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
                                        <span class="btn btn-secondary" (click)="t.select('tab-selectbyid3')">Siguiente</span>
                                    </div>
                                </div>


                            </ng-template>
                        </ngb-tab>



                        <!--TABSET PARA EL PASO 3 -->
                        <ngb-tab id="tab-selectbyid3" title="3- Comercio y Garante">
                            <ng-template ngbTabContent>
                                <h4>Datos del Garante</h4>
                                <div class="form-row">
                                    <!-- Campo 1:  Dni Garante-->
                                    <div class="form-group col-md-6">
                                        <label for="inputDniGarante">* Número de Documento</label>
                                        <input type="number" formControlName="dniGarante" class="form-control form-control-sm" id="inputDniGarante" placeholder="30300300">
                                    </div>

                                    <div class="col-md-6">
                                        <span class="btn btn-outline-primary ng-hide">Buscar</span>
                                    </div>

                                    <!-- Dni error block -->
                                    <div *ngIf="dniGarante.invalid && dniGarante.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="dniGarante.errors['required']">
                                            El número de documento es requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <!-- Campo 2:  Apellido-->
                                    <div class="form-group col-md-4">
                                        <label for="inputApellidosGarante">* Apellido/s</label>
                                        <input type="text" formControlName="apellidosGarante" class="form-control form-control-sm" id="inputApellidosGarante" placeholder="Perez">
                                    </div>

                                    <!-- Campo 3:  Nombres-->
                                    <div class="form-group col-md-4">
                                        <label for="inputNombresGarante">* Nombres</label>
                                        <input type="text" formControlName="nombresGarante" class="form-control form-control-sm" id="inputNombresGarante" placeholder="Juan">
                                    </div>

                                    <!-- Campo 4:  Fecha de Nacimiento-->
                                    <div class="form-group col-md-4">
                                        <label for="inputFechaNacimientoGarante">* Fecha de Nacimiento</label>
                                        <input type="date" formControlName="fechaNacimientoGarante" class="form-control form-control-sm" id="inputFechaNacimientoGarante">
                                    </div>
                                    <!-- FechaNacimiento error block -->
                                    <div *ngIf="fechaNacimientoGarante.invalid && fechaNacimientoGarante.touched" class="col-sm-6 text-danger">
                                        <div *ngIf="fechaNacimientoGarante.errors['required']">
                                            Ingrese una Fecha Válida
                                        </div>
                                    </div>
                                </div>


                                <h4>Datos del Comercio</h4>

                                <div class="form-row">
                                    <!-- Campo 5:  Cuit-->
                                    <div class="form-group col-md-6">
                                        <label for="inputCuit">* Cuit</label>
                                        <input type="number" formControlName="cuit" class="form-control form-control-sm" id="inputCuit" placeholder="20303003000">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="btn btn-outline-primary ng-hide">Buscar</span>
                                    </div>
                                </div>

                                <!-- Cuit error block -->
                                <div *ngIf="cuit.invalid && cuit.touched" class="col-sm-6 text-danger">
                                    <div *ngIf="cuit.errors['required']">
                                        El número de documento es requerido
                                    </div>
                                </div>

                                <!-- Campo 6:  Razon Social-->
                                <div class="form-group">
                                    <label for="inputRazonSocial">* Razon Social</label>
                                    <input type="text" formControlName="razonSocial" class="form-control form-control-sm" id="inputRazonSocial" placeholder="Juan Perez">
                                </div>

                                <div class="form-row text-right bg-gray-light">
                                    <div class="col-12">
                                        <span class="btn btn-secondary" (click)="t.select('tab-selectbyid2')">&nbsp;&nbsp;Atrás &nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
                                        <span class="btn btn-secondary" (click)="t.select('tab-selectbyid4')">Siguiente</span>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <!--TABSET PARA EL PASO 4 -->
                        <ngb-tab id="tab-selectbyid4" title="4- Referencias y Documentación">
                            <ng-template ngbTabContent>
                                <h4>Documentación Presentada</h4>

                                <!-- Campo 1: Documentacion presentada -->
                                <div class="form-group">

                                    <div class="form-group col-md-8">
                                        <ul>
                                            <li *ngFor="let ref of documentosAPresentar">
                                                {{ ref.nombre }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <h4>Referencias del Titular</h4>
                                <!-- Campo 3: Combo Referencia Titular -->
                                <div class="form-row text-left">

                                    <div class="form-group col-md-8">
                                        <ul>
                                            <li *ngFor="let ref of referenciaTitulares">
                                                {{ ref.item }}
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label class="badge badge-secondary">Calificación</label>
                                        <p class="badge badge-warning"> {{ calificacionReferencia}}</p>
                                    </div>

                                </div>

                                <!-- Campo 5: TextArea Comentario Referencias Titular-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaComentarioTitular"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <hr size="30">

                                <h4>Referencias del Comercio</h4>

                                <div class="form-row text-left">
                                    <div class="form-group col-md-8">
                                        <ul>
                                            <li *ngFor="let ref of referenciaComercios">
                                                {{ ref.item }}
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="badge badge-secondary">Calificación</label>
                                        <p class="badge badge-warning"> {{ calificacionReferenciaComercio}}</p>
                                    </div>
                                </div>

                                <!-- Campo 8: Comentario Referencias Comercio-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaComentarioComercio"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <!-- Campo 1:  Prefijo de Legajo-->
                                    <div class="form-group col-md-6">
                                        <label for="prefijoLegajo">Serie</label>
                                        <input type="text" formControlName="prefijoLegajo" class="form-control form-control-sm" id="prefijoLegajo">
                                    </div>
                                    <!-- Campo 2:  Numero de Legajo-->
                                    <div class="form-group col-md-6">
                                        <label for="numeroLegajo">Nro. Legajo</label>
                                        <input type="text" formControlName="numeroLegajo" class="form-control form-control-sm" id="inputnumeroLegajo" placeholder="111">
                                    </div>
                                </div>


                                <!--- Buttons Block Solo envia si el form esta validado-->
                                <div class="form-row text-right">
                                    <div class="col-12">
                                        <!--  <button type="submit" [disabled]="!creditoForm.valid" class="btn btn-outline-primary">Guardar</button> -->

                                        <button class="btn btn-secondary" (click)="t.select( 'tab-selectbyid3')">&nbsp; Atrás &nbsp;</button>&nbsp;&nbsp;
                                        <!-- <button type="button" href="#btnCancelarModal" class="btn btn-secondary" data-toggle="modal">Cancelar</button>&nbsp;&nbsp; -->
                                        <!-- <button type="submit" [disabled]="true" class="btn btn-secondary">Guardar</button> -->
                                        <span class="btn btn-secondary" (click)="t.select('tab-selectbyid5')">Siguiente</span>

                                        <!-- Boton oculto que permite abrir el modal de guardado OK -->
                                        <div id="oculto" style="display:none;">
                                            <button type="button" href="#eventoGuardadoCorrecto" id="guardarOk" data-toggle="modal"></button>
                                        </div>

                                    </div>
                                </div>

                            </ng-template>
                        </ngb-tab>

                        <!--TABSET PARA EL PASO 5 -->
                        <ngb-tab id="tab-selectbyid5" title="5- Carga de Analisis Crediticio">
                            <ng-template ngbTabContent>
                                <h4>Informe Veraz</h4>

                                <!-- Campo 1: TextArea Veraz-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaVeraz"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <h4>Informe BCRA</h4>

                                <!-- Campo 2: TextArea BCRA-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaBcra"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <h4>Resultado Final</h4>
                                <!-- Campo 3: Resultado Final-->
                                <div class="form-row text-left">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="col-md-12" formControlName="notaResultadoFinal"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row text-center bg-gray-light">
                                    <div class="col-12">
                                        <button [disabled]="noPermitidoGuardar" class="btn btn-secondary" (click)="guardarAnalisis()">Guardar Analisis Crediticio</button>
                                    </div>
                                </div>
                                <hr>


                                <!--- Buttons Block Solo envia si el form esta validado-->
                                <div class="form-row text-right">
                                    <div class="col-12">
                                        <!--  <button type="submit" [disabled]="!creditoForm.valid" class="btn btn-outline-primary">Guardar</button> -->

                                        <button class="btn btn-secondary" (click)="t.select( 'tab-selectbyid4')">&nbsp; Atrás &nbsp;</button>&nbsp;&nbsp;
                                        <!-- <button type="button" href="#btnCancelarModal" class="btn btn-secondary" data-toggle="modal">Cancelar</button>&nbsp;&nbsp; -->
                                        <!-- <button  [disabled]="true" class="btn btn-secondary">Guardar</button> -->
                                        <!--  <button class="btn btn-secondary" (click)="guardarAnalisis()">Guardar Analisis Crediticio</button> -->

                                        <!-- Boton oculto que permite abrir el modal de guardado OK -->
                                        <div id="oculto" style="display:none;">
                                            <button type="button" href="#eventoGuardadoCorrecto" id="guardarOk" data-toggle="modal"></button>
                                        </div>

                                    </div>
                                </div>

                            </ng-template>
                        </ngb-tab>




                    </ngb-tabset>
                </fieldset>
            </form>




            <!--  DATOS ESTADISTICOS DE PAGOS -->
            <p></p>
            <hr>
            <div class="row">
                <hr>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-percent" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Cumplimiento</span>
                            <span class="info-box-number">{{porcentajeDeCumplimiento | percent}}<small></small></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-clock-o" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Promedio de Retraso</span>
                            <span class="info-box-number"> {{promedioDiasDeRetraso | number}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-exclamation" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Dias de Retraso</span>
                            <span class="info-box-number"> {{ totalDiasRetraso | number}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-history" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Estado Del Credito</span>
                            <span class="info-box-number">{{ estadoCredito }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

            </div>




            <div class="form-row text-center bg-gray-light">
                <div class="col-12">
                    <!-- <span class="btn btn-warning" (click)="historialCliente()">Historial Cliente</span> -->
                    <button [disabled]="cambiarEstadoCredito" class="btn btn-warning" (click)="aprobarCredito('APROBADO')">Aprobar Credito</button> &nbsp; &nbsp; &nbsp;
                    <button [disabled]="cambiarEstadoCredito" class="btn btn-warning" (click)="aprobarCredito('RECHAZADO')">Rechazar Credito</button>&nbsp; &nbsp; &nbsp;
                    <button [disabled]="cierreCredito" class="btn btn-warning" (click)="cerrarCredito()">Cerrar Credito</button>
                </div>
            </div>


            <!--  DATOS ESTADISTICOS DE PAGOS -->





        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>