<ngx-smart-modal #simuladorModal identifier="simuladorModal" customClass="reveal">

    <div class="form-row text-center">
        <div class="col-12">
            <p class="bg-primary">Simulador de Cuotas</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <ng2-smart-table [settings]="settings" class="table table-hover" [source]="cuotasSimuladas" #simuladorTableForm></ng2-smart-table>
            </div>
        </div>
        <div class="form-row text-right">
            <div class="col-12">
                <span class="btn btn-outline-danger" (click)="simuladorModal.close()">Cerrar</span>
                <span class="btn btn-outline-success" (click)="pagar()">Confirmar Pago</span>
            </div>
        </div>
    </div>
</ngx-smart-modal>