<ngx-smart-modal #clienteModal identifier="clienteModal" customClass="reveal">
    <!-- <div *ngIf="clienteModal.hasData()">
        <pre>{{ clienteModal.getData().dni | json }}</pre>
    </div> -->
    <div class="form-row text-center">
        <div class="col-12">
            <p class="bg-secondary-gradient">Nuevo</p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <!-- <h4><strong>Nuevo</strong></h4> -->

                <!-- FORMULARIO INICIO -->
                <form class="" [formGroup]="clienteForm" (ngSubmit)="guardar()">
                    <fieldset>
                        <ngb-tabset #t="ngbTabset" [justify]="currentJustify">

                            <!--TABSET PARA EL PASO 1 -->
                            <ngb-tab id="tab-selectbyid1" title="1.Titular">
                                <ng-template ngbTabContent>
                                    <!-- <h4>Datos del Titular</h4> -->

                                    <div class="form-row">
                                        <!-- Campo 1:  Dni-->
                                        <div class="form-group col-md-6">
                                            <label class="small h4 text-muted" for="inputDni">* Nº Dni</label>
                                            <input type="number" formControlName="dni" class="form-control form-control-sm" id="inputDni" placeholder="30300300">
                                        </div>
                                        <!-- Campo 4:  Fecha de Nacimiento-->
                                        <div class="form-group col-md-6">
                                            <label for="inputFechaNacimiento" class="small h4 text-muted">* F. Nac.</label>
                                            <input type="date" formControlName="fechaNacimiento" class="form-control form-control-sm" id="inputFechaNacimiento">
                                        </div>
                                        <!-- FechaNacimiento error block -->
                                        <div *ngIf="fechaNacimiento.invalid && fechaNacimiento.touched" class="col-sm-6 text-danger">
                                            <div *ngIf="fechaNacimiento.errors['required']">
                                                Ingrese una Fecha Válida
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-row">
                                        <!-- Campo 2:  Apellido-->
                                        <div class="form-group col-md-12">
                                            <label for="inputApellidos" class="small h4 text-muted">* Apellido</label>
                                            <input type="text" formControlName="apellidos" class="form-control form-control-sm" id="inputApellidos" placeholder="Perez">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <!-- Campo 3:  Nombres-->
                                        <div class="form-group col-md-12">
                                            <label for="inputNombres" class="small h4 text-muted">* Nombres</label>
                                            <input type="text" formControlName="nombres" class="form-control form-control-sm" id="inputNombres" placeholder="Juan">
                                        </div>
                                    </div>



                                    <div class="form-row text-right col-md-12 bg-gray-light">
                                        <div class="col-12">
                                            <button class="btn btn-secondary" (click)="t.select('tab-selectbyid2')" id="btnTab1">Siguiente</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>


                            <!--TABSET PARA EL PASO 2 -->
                            <ngb-tab id="tab-selectbyid2" title="2.Domicilio">
                                <ng-template ngbTabContent>

                                    <!--  <h4>Particular</h4> -->
                                    <div class="form-row">

                                        <!-- Campo 1: Provincia-->
                                        <div class="form-group col-md-6">
                                            <label for="inputProvincia" class="small h4 text-muted">* Provincia</label>
                                            <select formControlName="provincia" (change)="onChange()" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputProvincia">
                                          <option *ngFor="let fProv of provincias">
                                              {{fProv.provincia}}
                                          </option>
                                        </select>
                                        </div>
                                        <!-- Campo 2: Localidad-->
                                        <div class="form-group col-md-6">
                                            <label for="inputLocalidad" class="small h4 text-muted">* Localidad</label>
                                            <select formControlName="localidad" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputLocalidad">
                                          <option *ngFor="let fLoc of localidades">
                                              {{fLoc}}
                                          </option>
                                        </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <!-- Campo 3:  Barrio-->
                                        <div class="form-group col-md-5">
                                            <label for="inputBarrio" class="small h4 text-muted">* Barrio</label>
                                            <input type="text" formControlName="barrio" class="form-control form-control-sm" id="inputBarrio" placeholder="Alto Comedero">
                                        </div>
                                        <!-- Campo 4:  Calle-->
                                        <div class="form-group col-md-4">
                                            <label for="inputCalle" class="small h4 text-muted">* Calle</label>
                                            <input type="text" formControlName="calle" class="form-control form-control-sm" id="inputCalle" placeholder="Fuerza Aerea">
                                        </div>
                                        <!-- Campo 5:  numero-->
                                        <div class="form-group col-md-3">
                                            <label for="inputNumeroCasa" class="small h4 text-muted">* Nº</label>
                                            <input type="text" formControlName="numeroCasa" class="form-control form-control-sm" id="inputNumeroCasa" placeholder="787">
                                        </div>

                                        <!-- Barrio error block -->
                                        <div *ngIf="barrio.invalid && barrio.touched" class="col-sm-5 text-danger">
                                            <div *ngIf="barrio.errors['required']">
                                                Barrio es requerido
                                            </div>
                                        </div>
                                        <!-- Calle error block -->
                                        <div *ngIf="calle.invalid && calle.touched" class="col-sm-4 text-danger">
                                            <div *ngIf="calle.errors['required']">
                                                Calle es requerida
                                            </div>
                                        </div>
                                        <!-- Numero error block -->
                                        <div *ngIf="numeroCasa.invalid && numeroCasa.touched" class="col-sm-3 text-danger">
                                            <div *ngIf="numeroCasa.errors['required']">
                                                Requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">

                                        <!-- Campo 8: Estado Casa-->
                                        <div class="form-group col-md-4">
                                            <label for="inputEstadoCasa" class="small h4 text-muted">* Vivienda</label>
                                            <select formControlName="estadoCasa" class="custom-control custom-select custom-control-inline form-control-sm w-100" id="inputEstadoCasa">
                                        <option *ngFor="let eCasa of estadosCasa" [value]="eCasa._id">
                                            {{eCasa.nombre}}
                                          </option>
                                      </select>
                                        </div>
                                    </div>




                                    <div class="form-row text-right">
                                        <div class="col-12">
                                            <button class="btn btn-secondary" (click)="t.select('tab-selectbyid1')">&nbsp;&nbsp;Atrás&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;
                                            <button class="btn btn-secondary" (click)="t.select('tab-selectbyid3')">Siguiente</button>
                                        </div>
                                    </div>


                                </ng-template>
                            </ngb-tab>



                            <!--TABSET PARA EL PASO 3 -->
                            <ngb-tab id="tab-selectbyid3" title="3.Contacto">
                                <ng-template ngbTabContent>

                                    <div class="form-row">
                                        <!-- Campos de Contactos-->
                                        <!-- Contacto 1 - Celular-->
                                        <div class="form-group col-md-4">
                                            <label for="codPais" class="small h4 text-muted">Celular</label>
                                            <input list="codPais" value="+54" class="form-control form-control-sm" name="codPais1" formControlName="codigoPais1">
                                            <datalist id="codPais">
                                        <option value="+54">Argentina</option>
                                        <option value="+591">Bolivia</option>
                                        <option value="+55">Brasil</option>
                                        <option value="+595">Paraguay</option>
                                        <option value="+598">Uruguay</option>
                                        <option value="+51">Peru</option>
                                        <option value="+501">Chile</option>
                                    </datalist>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="codArea1" class="small h4 text-muted">Cod. Area</label>
                                            <input list="codLocal" value="388" class="form-control form-control-sm" name="codArea1" formControlName="codigoArea1">
                                            <datalist id="codLocal">
                                    <option value="388">San Salvador de Jujuy</option>
                                    <option value="3888">San Pedro de Jujuy</option>
                                  </datalist>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="inputNumero1" class="small h4 text-muted">Nº</label>
                                            <input type="number" formControlName="numero1" class="form-control form-control-sm" id="inputNumero1" placeholder="6006060">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <!-- Contacto 2 - Fijo-->
                                        <div class="form-group col-md-4">
                                            <label for="codPais2" class="small h4 text-muted">T.Fijo</label>
                                            <input list="codPais2" value="+54" class="form-control form-control-sm" name="codPais2" formControlName="codigoPais2">
                                            <datalist id="codPais2">
                                      <option value="+54">Argentina</option>
                                      <option value="+591">Bolivia</option>
                                      <option value="+55">Brasil</option>
                                      <option value="+595">Paraguay</option>
                                      <option value="+598">Uruguay</option>
                                      <option value="+51">Peru</option>
                                      <option value="+501">Chile</option>
                                    </datalist>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="codArea2" class="small h4 text-muted">Cod. Area</label>
                                            <input list="codLocal2" value="388" class="form-control form-control-sm" name="codArea2" formControlName="codigoArea2">
                                            <datalist id="codLocal2">
                                    <option value="388">San Salvador de Jujuy</option>
                                    <option value="3888">San Pedro de Jujuy</option>
                                  </datalist>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="inputNumero2" class="small h4 text-muted">Nº</label>
                                            <input type="number" formControlName="numero2" class="form-control form-control-sm" id="inputNumero2" placeholder="4222222">
                                        </div>
                                    </div>


                                    <!-- Contacto 3 - EMail-->
                                    <div class="form-group">
                                        <label for="inputEmail" class="small h4 text-muted">Email</label>
                                        <input type="text" formControlName="email" id="inputEmail" class="form-control form-control-sm" placeholder="Ingrese dirección de email">
                                    </div>


                                    <div class="form-row text-right">
                                        <div class="col-12">
                                            <button class="btn btn-secondary" (click)="t.select('tab-selectbyid2')">&nbsp;Atrás&nbsp;</button>&nbsp;&nbsp;&nbsp;
                                            <!-- <button class="btn btn-outline-primary" (click)="guardar($event)">Guardar</button> -->
                                            <button type="submit" [disabled]="!clienteForm.valid" class="btn btn-secondary">Guardar</button>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </fieldset>
                </form>

            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <!-- <button (click)="clienteModal.close()">Close</button> -->
</ngx-smart-modal>